@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content:"";
  display: block;
  clear: both;
}

.q7_text {
  font-size: 16px;
}

.q7-textbox{
  width: 225px;
}
  
.box_float {
  float: left;
  margin-left: 50px;
  box-sizing: border-box;
} 

.box_float:first-child{
  margin-left: 0;
}

.q7_table_contentsbox {
  display: table;
}

.q7_tablebox{
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
  width: 225px;
}

.q7_tablebox:first-child{
  padding-left: 0;
}

.q7__inlinebox{
  width: 500px;
  font-size: 0;
}

.q7_inlineblock {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  box-sizing: border-box;
}

.q7_inlineblock:first-child{
  margin-left: 0;
}

.q7_flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7_flexbox {
  width: 225px;
  box-sizing: border-box;
  vertical-align: middle;
}


.q7_contentsbox{
  width: 100%;
  box-sizing: border-box;
  font-size: 0;
}

.q7__contents{
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  vertical-align: top;
}

 
.q7_variablebox{
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
  vertical-align: top;
}

/* 回答はここに書いてね */
