@charset "UTF-8";

/* 回答はここに書いてね */
.q3_table {
  width: 100%;
  border: solid 1px #dedede;
  table-layout: fixed;
}

.q3_table th {
  padding: 10px;
  color: #ffff;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  border: solid 1px #dedede;
}

.q3_table td {
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border: solid 1px #dedede;
}

.q3_table tr:nth-child(even){
  background-color: #ecf1f2;
}

.q3_table tbody tr:last-child {
  border-top: dashed 2px #000;
} 

/* 回答はここに書いてね */
