@charset "UTF-8";

/* 回答はここに書いてね */

.q6_inbox{
  text-align: center;
}

.q6_textalign {
  width: 90px;
  padding: 10px;
  display: inline-block;
  background-color: #e6f2ff;
}

.q6_margin {
  width: 90px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  background-color: #e6f2ff;
}

.q6_aroundtable {
  display: table;
  text-align: center;
}

.q6__box_table{
  display: table-cell;
  vertical-align: middle;
}

.q6_table{
  padding: 10px;
  display: inline-block;
  background-color: #fff;
}

.q6_aroundflex{
  display: flex;
  justify-content: center;
}

.q6_box_flex{
  display: flex;
  align-items: center;
}

.q6_flex{
  padding: 10px;
  background-color: #fff;
}

.q6_stable{
  position: relative;
} 

.q6_position_stable{
  width: 110px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.q6_flexible{
  position: relative;
}

.q6_position_flexble{
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  margin: auto;

}


/* 回答はここに書いてね */
